/* Personalize o logo da navbar */
.mbti-logo {
    font-weight: bold;
    font-size: 24px;
}

/* Estilo para centralizar o texto no meio da navbar */
.navbar-nav .nav-link {
    font-weight: 500;
    color: #000;
    padding: 0 15px;
}

/* Cor de fundo e borda inferior da navbar */
.navbar {
    background-color: #3ba569;
    border-bottom: 1px solid #e0e0e0;
}

/* Ícones da direita */
.navbar-icons {
    display: flex;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.flag-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.icon-link i {
    color: #000;
}

.header-section {
    background-color: #3ba569;
    color: white;
    padding: 3rem 0;
    text-align: center;
}

.header-section h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.header-section p {
    font-size: 1.2rem;
    font-weight: 400;
}

.info-section {
    display: flex;
    justify-content: space-around;
    padding: 3rem 1rem;
    background-color: #e0e0e0;
    margin-top: 2rem;
}

.info-box {
    padding: 2rem;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box h5 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.info-box i {
    color: #3ba569;
    margin-right: 0.5rem;
}

.question-section {
    padding: 4rem 1rem;
    text-align: center;
    flex-grow: 1;
}

.question {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.question-title {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options span {
    font-weight: bold;
    color: #4caf50;
}

.options input[type="radio"] {
    width: 30px;
    height: 30px;
}

.btn-next {
    background-color: #6c63ff;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f9fa;
    font-size: 0.9rem;
    margin-top: auto;
    border-top: 1px solid #ddd;
}
.header-section {
    background-color: #4caf50;
    color: white;
    padding: 5rem 0;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}


