{% extends 'teste_mbti/base.html' %}
{% block conteudo %}
{% load static %}

<div class="login-page">
    <div class="container">
        <div class="left-section">
            <h1>MBTI</h1>
            <p>Cadastre-se e descubra sua personalidade</p>
        </div>
        <div class="right-section">
            <h2>Cadastro</h2>
            <form>
                <input type="text" placeholder="Nome" required>
                <input type="text" placeholder="Sobrenome" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>
                <input type="password" placeholder="Confirme a senha" required>
                <button type="submit">Cadastrar</button>
            </form>
            <p>Já possui conta? <a href="#">Faça seu Login</a></p>
        </div>
    </div>
</div>

{% endblock %}