{% extends 'teste_mbti/base.html' %}
{% block conteudo %}
{% load static %}

<div class="cadastro-login-page">
    <div class="container">
        <div class="left-section">
            <h1>MBTI</h1>
            <p class="cadastro-login-text">Faça seu login e descubra sua personalidade!</p>
        </div>
        <div class="right-section">
            <h2 class="login">Login</h2>
            <form>
                <input type="text" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit" class="botão-enviar">Login</button>
            </form>
            <div class="form-footer">
                <p>Esqueceu a senha? <a href="#">Clique aqui</a></p>
                <p>Não possui conta? <a href="#">Faça seu Cadastro</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}