{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Personalidade MBTI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body class="cadastro-login-page">
    <div class="container">
        <div class="left-section">
            <a class="navbar-brand mbti-logo" href="#">
                <img src="{% static 'img/logo_branca.png' %}" alt="MBTI Logo", style="height: 50px;">
            </a>
            <p>Cadastre-se e descubra sua personalidade!</p>
        </div>
        <div class="right-section">
            <h2 class="cadastro">Cadastro</h2>
            <form method="post">
                {% csrf_token %}
                {{ formulario.non_field_errors }}
                {{ formulario.nome_completo }}
                <div class="form-group">
                    {{ formulario.curso }}
                    {{ formulario.turma }}
                </div>
                {{ formulario.email }}
                <input type="email" placeholder="Confirme o email" name="email_confirm" required>
                {{ formulario.senha }}
                <input type="password" placeholder="Confirme a senha" name="senha_confirm" required>
                <button type="submit" class="botão-enviar" href="{% url 'cadastro' %}">Cadastrar</button>
                <ul>
                {% if email_existente %}
                        <li style="color: red;margin-bottom: 10px;">{{ email_existente }}</li>
                {% endif %}
                {% if senha_divergente %}
                    <li style="color: red;margin-bottom: 10px;">{{ senha_divergente }}</li>
                {% endif %}
                {% if email_divergente %}
                    <li style="color: red;margin-bottom: 10px;">{{ email_divergente }}</li>
                {% endif %}
                </ul>
            </form>
            <div class="form-footer">
                <p>Já possui conta? <a href="{% url 'login' %}">Faça seu Login</a></p>
                <p>possui um arquivo? <a href="{% url 'cadExcel' %}">cadastre via excel</a></p>
            </div>
        </div>
    </div>
</body>
</html>