{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Personalidade MBTI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body class="cadastro-login-page">
        <div class="container">
            <div class="left-section">
                <a class="navbar-brand mbti-logo" href="#">
                    MBTI
                </a>
                <p class="cadastro-login-text">Faça o login e descubra a sua essência!</p>
            </div>
            <div class="right-section">
                <h2 class="login">Login</h2>
                <form method="post">
                {% csrf_token %}
                {{ formulario.email }}
                {{ formulario.senha }}
                <button type="submit" class="botão-enviar" href="{% url 'login' %}">Entrar</button>
                <ul>
                    {% if erro_login %} 
                        <li style="color: red; margin-bottom: 10px;">{{ erro_login }}</li>
                    {% endif %}
                    {% if nao_logado %} 
                        <li style="color: red; margin-bottom: 10px;">{{ nao_logado }}</li>
                    {% endif %}
                </ul>
            </form>
                <div class="form-footer">
                    <p>Não possui conta? <a href="{% url 'cadastro' %}">Faça seu Cadastro</a></p>
                </div>
            </div>
        </div>
</body>
</html>
